body {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 100%;
    margin: 0;
    padding: 0;
}

        /* Responsive settings */
        body {
            font-family: Arial, sans-serif;
            background-color: #cccccc;
        }
        
        header {
            text-align: center;
            padding: 20px;
        }
        
        /* CSS for LoGo control */
        .logo {
            display: block;
            width: 100px; /* Adjust as needed */
            max-width: 80px; /* Adjust the maximum width as needed */
            margin: 20px auto; /* Adjust the margin for positioning */
            border: 5px solid black;
            padding: 2px;
            border-radius: 90px 90px;
        }
        
        .navbar {
            display: inline-block;
        }
        
        .nav-links {
            list-style-type: none;
            padding: 0;
        }
        
        .nav-links li {
            display: inline;
            margin-right: 20px;
        }

        /* CSS Main Content Section */
        section {
        font-family: 'sans-serif', semi-Bold;
        padding: 20px;
    }
    /* CSS for 2 grid boards */
    .board-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    }
    /* CSS media Queries for Tablet */
    @media screen and (max-width: 768px) {
    .board {
        width: 45%;
    }
}

    /* CSS media Queries for Smartphone */
    @media screen and (max-width: 480px) {
    .board {
        width: 100%;
    }
}

    .board {
    width: 30%;
    margin: 10px;
    border: 15px #003366;
    outline: #003366 solid 10px;
    padding: 15px;
    background-color: #ffcc00;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

        
        /* Footer css */
        footer {
            text-align: center;
            padding: 3px;
            background-color: #003366;
            color: white;
        }

