header {
    position: absolute;
    top: 0;
    vertical-align: middle;
    background-color: #9b7653;
    width: 100%;
    padding: 0 0 5px 0;
    text-align: center;
    color: white;
    font-size: 40px;
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
    letter-spacing: 2px;
}

ul {
    margin: 0px;
    padding: 10px;
    background-color: #9b7653;
    list-style-type: none;
    position: relative;
    border-bottom: white 2px solid;
    border-top: white 2px solid;
}

ul li {
    display: inline-block;
    font-size: 18px;
}

ul li a {
    padding: 15px;
    color: white;
    text-decoration: none;
    display: block;
}

ul li:hover {
    background: navy;
}

ul ul {
    position: absolute;
    min-width: auto;
    background: darkgray;
    display: none;
}

ul ul li {
    display: block;
    background: darkgray;
}

ul li:hover ul {
    display: block;
}

ul li:hover ul ul {
    display: none;
}

ul li:hover ul li:hover ul {
    display: inline-block;
}

body {
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
    font-size: 16px;
    color: black;
    margin: 0;
    padding: 0;
    background-color: #009A17;
}

h1 {
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
    font-size: 32px;
    text-shadow: 0px 1px 1px white;
    text-align: left;
    padding-top: 75px;
}

h2 {
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
    font-size: 26px;
    text-shadow: 0px 1px 1px white;
    text-align: left;
}

h3 {
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
    font-size: 21px;
    text-align: left;
}

h4 {
    background-color: #9b7653;
    ;
    width: 35%;
    height: auto;
    margin-top: 25px;
    margin-left: 500px;
    padding: 50px 50px 50px 50px;
    text-align: center;
}

h4 a {
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
    font-size: 25px;
    color: black;
}

h5 {
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
    font-size: 21px;
    text-shadow: 0px 1px 1px white;
    text-align: left;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-top: 25px;
    border-top: white 2px solid;
    background-color: #9b7653;
    ;
}

footer p {
    text-align: center;
    font-size: 16px;
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
    padding: .5em .25em .5em 1em;
    color: white;
    margin: 0;
}

footer p a {
    color: white;
}

#contact {
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
    padding: 15px;
    padding-left: 75px;
    border-style: solid;
    border-color: #9b7653;
    border-radius: 10px/20px;
    -moz-box-shadow: 10px 10px 5px white;
    -webkit-box-shadow: 10px 10px 5px white;
    box-shadow: 10px 10px 5px white;
    background-color: #9b7653;
    margin: auto;
    margin-top: none;
    margin-bottom: 25px;
    width: 50%;
}

input[type=checkbox] {
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
    background-color: #18453B;
    border: black;
    color: black;
    padding-bottom: 10px;
    padding-top: 10px;
    text-decoration: none;
    margin-top: 15px;
    margin-left: 10px;
    cursor: pointer;
}

input[type=radio] {
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
    background-color: #18453B;
    border: black;
    color: black;
    padding-bottom: 10px;
    padding-top: 10px;
    text-decoration: none;
    margin-top: 15px;
    margin-left: 30px;
    cursor: pointer;
}

input[type=button] {
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
    background-color: white;
    border: black;
    color: black;
    padding-bottom: 10px;
    padding-top: 10px;
    text-decoration: none;
    margin-top: 30px;
    margin-left: 140px;
    cursor: pointer;
    width: 25%;
}

input[type=reset] {
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
    background-color: white;
    border: black;
    color: black;
    padding-bottom: 10px;
    padding-top: 10px;
    text-decoration: none;
    margin-top: 30px;
    margin-left: 25px;
    cursor: pointer;
    width: 25%;
}

input[type=text] {
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
    background-color: white;
    border: black;
    color: black;
    padding-bottom: 7px;
    padding-top: 7px;
    padding-right: 10px;
    padding-left: 15px;
    text-decoration: none;
    margin-top: 10px;
    margin-left: 15px;
    margin-bottom: 15px;
    cursor: pointer;
    width: 50%;
}

div#results {
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
    padding: 25px;
    padding-left: 75px;
    border-style: solid;
    background-color: #9b7653;
    margin: auto;
    margin-bottom: 10px;
    width: 50%;

}

div#more {
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
    padding: 25px;
    padding-left: 75px;
    border-style: solid;
    background-color: #9b7653;
    margin: auto;
    margin-bottom: 10px;
    width: 50%;

}

div#subscription {
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
    padding: 25px;
    padding-left: 75px;
    border-style: solid;
    background-color: #9b7653;
    margin: auto;
    margin-bottom: 10px;
    width: 50%;

}

div#message {
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
    padding: 25px;
    padding-left: 75px;
    border-style: solid;
    background-color: #9b7653;
    margin: auto;
    margin-bottom: 10px;
    width: 50%;
}

form em {
    font-weight: bold;
}

#sports {
    display: grid;
    gap: 15px;
    grid-template-columns: auto auto auto;
    background-color: #9b7653;
    padding: 15px;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
    border: 1px solid black;
    width: 75%;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 100px;
}

#sports img {
    margin-bottom: 20px;
    border: 1px solid rgb(0, 0, 0);
    opacity: 0.75;
}

#sports img:hover {
    opacity: 1.0;
}

.sport {
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    padding: 30px;
}

.sport h2 {
    text-align: center;
    font-size: 20px;
}

.home {
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    padding: 30px;
}

.home h2 {
    text-align: center;
}

.info {
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    padding: 30px;
}

.info h2 {
    text-align: center;
}

.about {
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    padding: 30px;
}

.about h2 {
    text-align: center;
}

.sources h2 {
    text-align: center;
}

#sports h2 {
    text-align: center;
}

body .sources {
    background-color: #9b7653;
    margin-top: 50px;
    width: 75%;
    height: auto;
    margin: auto;
}

body .home {
    background-color: #9b7653;
    margin-top: 50px;
    width: 75%;
    height: auto;
    margin: auto;
}

body .sport {
    background-color: #9b7653;
    margin-top: 50px;
    width: 75%;
    height: auto;
    margin: auto;
}

body .info {
    background-color: #9b7653;
    margin-top: 50px;
    width: 75%;
    height: auto;
    margin: auto;
}

body .about {
    background-color: #9b7653;
    margin-top: 50px;
    width: 75%;
    height: auto;
    margin: auto;
}

body .info {
    margin-top: 50px;
    width: 75%;
    height: auto;
    margin: auto;
    text-align: center;
}

#imgsource {
    background-color: #9b7653;
    margin-top: 50px;
    width: auto;
    height: auto;
    text-align: left;
    padding-left: 15px;
}

#CWP {
    background-color: #9b7653;
    margin-top: 50px;
    width: auto;
    height: auto;
    text-align: center;
}

#imgsource a {
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
    font-size: 25px;
    color: black;
}

#imgsource a:hover {
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
    font-size: 25px;
    color: white;
}

p {
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
    font-size: 16px;
    padding: 10px;
    border: 2px solid;
    text-align: center;
    margin: 25px;
}

.fact {
    margin-left: 15px;
}

#gallery {
    float: left;
    width: 90px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 25px;
}

#gallery img {
    display: flex;
    margin: 10px 0 10px 0;
    border: white 2px solid;
}

#photo img {
    position: absolute;
    border: white 2px solid;
}

.wrapper {
    margin-top: 50px;
}

.ui-accordion .ui-accordion-header {
    background-color: darkgray;
    color: black;
    border-color: black;
}

.ui-accordion .ui-accordion-content {
    background-color: #009A17;
    color: black;
    border-color: black;
}

.ui-accordion .ui-accordion-header:hover {
    background-color: darkgray;
    color: black;
    border-color: black;
}

.ui-accordion .ui-accordion-header-active {
    background-color: white;
    color: black;
    border-color: black;
}