/* styles.css */
/* CSS style for Navigation */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #111344;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

h1 {
    font-family:'Times New Roman', Bold;
}

body {
    font-family: 'sans-serif', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

/* CSS for header 1 */
header {
    background-color: #111344;
    padding: 20px;
    text-align: center;
    color: white;
}

/* CSS Main Content Section */
section {
    font-family: 'sans-serif', semi-Bold;
    padding: 20px;
}

/* CSS for 2 grid boards */
.board-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.board {
    width: 30%;
    margin: 10px;
    padding: 15px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* CSS media Queries for Tablet */
@media screen and (max-width: 768px) {
    .board {
        width: 45%;
    }
}

/* CSS media Queries for Smartphone */
@media screen and (max-width: 480px) {
    .board {
        width: 100%;
    }
}

/* styles.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7e7ce;
    color: #333;
}

/* CSS for header 2 */
header {
    background-color: #111344;
    padding: 20px;
    text-align: center;
    color: white;
}

/* CSS for 3 grid image containers */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(38ch, 1fr));
    gap: 20px;
    padding: 20px;
}

.grid-item {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section {
    padding: 20px;
}

button {
    padding: 10px;
    background-color: #111344;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    background-color: #111344;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Default styles for navigation menu */
.navbar {
    background-color: #52154E;
    padding: 10px 0;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: inline;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
}

/* Media query for tablets and phones */
@media screen and (max-width: 768px) {
    .nav-links {
        display: none; 
    }

    .nav-links.show {
        display: block; 
    }

    .nav-links li {
        display: block; 
    }
}

.logo {
    display: block;
    max-width: 80px; /* Adjust the maximum width as needed */
    margin: 20px auto; /* Adjust the margin for positioning */
    border: 2px solid #52154E;
  padding: 5px;
  border-radius: 50px 50px;
}


/* Adjust the margin-bottom as needed for your desired spacing */
.last-section {
    margin-bottom: 20px; 
    text-align: center;
}
/* CSS style for Nav Logo */
.logo-img {
    float: left;
    position: relative;
    margin: 10px 15px 15px 10px;
    border-radius: 50px;
  }
