img {
    width: 320px;
    height: 270;
    display: block;
    margin-bottom: 40px;
    border-radius: 50%
}

div {
    /* algins items in tag to be controlled */
    margin: 50px 50px auto;
    width: 80%;
}

hr {
    width: 400px;
    margin: 25px 0;
}

button {
    width: 160px;
    font-size: 15px;
    height: 45px;
    border-radius: 5px;

}

input {
    width: 200px;
    font-size: 15px;
    padding: 10px;
}

#edit-view {
    display: none;
}
